<div id="home" class="page active">
  <div class="container">
    <div class="content-wrapper">
      <section class="hero glass">
        <div class="hero-image">
          <img src="img/home.jpg" alt="Modern Technology Interaction" />
        </div>
      </section>
      <div class="hero glass">
        <section class="hero">
          <h2>HOT EVENTS</h2>
          <p>
            Stay connected, inspired, and ahead of the curve with exclusive CodeFactory Alumni
            events.
          </p>
          <section class="features">
            @for (event of events; track event.id){

            <a routerLink="/events" class="feature-card glass">
              <div class="feature-icon">{{ event.icon }}</div>
              <h3>{{ event.name }}</h3>
            </a>
            } @empty {
            <p>No events avaible.</p>
            }
          </section>
        </section>
      </div>

      <div class="hero glass">
        <section class="hero">
          <a routerLink="/career"><h2>OUR PARTNERS</h2></a>
          <p>Explore the network of partners essential to our continued growth and innovation.</p>

          <div class="partners-logo-container">
            @for (company of companies; track company.id) {
            <a href="{{ company.website }}" class="partner-logo-link" target="_blank">
              <img
                [src]="'/img/' + company.logo"
                [alt]="company.name + ' logo'"
                class="companies-logo"
              />
            </a>
            }
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
